{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf with context %}
{% block navbar %}

{{nav.sup.render()}}
    {% endlblock %}
{% block title %}
    Login
{% endblock%}
{% block content %}

<div class="container">
    <h1>Supplier Products</h1>

</div>
{% endblock %}