{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf with context %}
{% block title %}
Login
{% endblock%}
{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-signin" method="POST" action="{{url_for('auth.signin')}}">
                <h2 class="form-sigin-heading">Please Sign In</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.user)     }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember_me) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}