{% extends "administrator/base_admin.html" %}
{% import "bootstrap/wtf.html" as wtf with context %}
{% block title %}
Login
{% endblock%}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
		<form action="{{action}}"
			  method="post">

			    {% for field in form %}
			    	{{wtf.form_field(field)}}
		        {% endfor %}

		        <button type="submit" >Submit</button>

		</form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock%}
