{% extends "administrator/base_admin.html" %}
{% import "bootstrap/wtf.html" as wtf with context %}
{% block title %}
Login
{% endblock%}
{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form method="POST">
                <h2 class="form-sigin-heading">Choose Entity ID</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.group)     }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
{% endblock %}