{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf with context %}
{%  block styles%}
{{ super()}}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <style>
		.main {
		  position: relative;
		  width: 90%;
		  margin: 0 auto;
		  height: inherit;
		 }
		.main .menu ul {
		  width: 90%;
		}
		.main .menu ul li:last-child {
		  float: right;
		  display: inline-block;
        }
		.button {
		  color: white;
		  border-radius: 4px;
		  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		}
		.button.red {
		  background: #ca3c3c;
		}
		.button.blue {
		  background: #3caeca;
		}
        .listview > a {
	      margin: 10px 0 10px 20px;
        }
        .listview .pure-g {
          margin: 2px auto;
          padding: 10px 0 10px 20px;
          background: #f4f6ff;
        }
        .listview .pure-u {
          overflow: hidden;
        }

  		.item-form .pure-form {
		  width: 90%;
		  margin: 40px auto;
		}
		.item-form .pure-form legend {
		  color: #6b6b6b;
		  font-size: 1.2em;
		}
		.item-form .pure-form label {
		  margin-top: 30px;
		  color: #a5a5a5;
		}
		.item-form .pure-form textarea {
		  min-height: 200px;
		  padding: 10px;
		}
		.item-form .pure-form input, .item-form .pure-form select, .item-form .pure-form textarea {
		  width: 100%;
		}
		.item-form .pure-form input[type="checkbox"] {
		  width: 50px;
		}
		.item-form .pure-form button {
		  margin: 30px 0;
		}
	</style>
{%endblock%}
{% block title %}
Login
{% endblock%}
{% block content %}
{{ super() }}

<div class="listview">
	<a class="pure-button pure-button-primary" href="{{path + 'new'}}">Create new</a>
		{% if filters %}
			{% if not filter_name %}
				<a class="pure-button button blue" href="{{path}}">Show all</a>
			{% else %}
				<a class="pure-button" href="{{path}}">Show all</a>
			{% endif %}
		{% endif %}



		{% for filter in filters %}
			{% if filter == filter_name %}
				<a class="pure-button button blue" href="{{path + 'filter/' + filter}}">{{filter.replace('_', ' ')}}</a>
			{% else %}
				<a class="pure-button" href="{{path + 'filter/' + filter}}">{{filter.replace('_', ' ')}}</a>
			{% endif %}
		{% endfor %}
		{% for item in obj %}
				<div class="pure-u-2-24">
				<a class="pure-button pure-button-primary button red" href="{{path +'delete/'+ item.master_sup_id|string}}">delete</a>
                </div>
				<div class="pure-u">
					<a class="pure-button pure-button-primary button blue" href="{{path + item.master_sup_id|string}}">
                        {{item.supplier_name}}</a>
                </div>
		{% endfor %}
</div>
{% endblock%}
