{% extends "administrator/base_admin.html" %}
{% import "bootstrap/wtf.html" as wtf with context %}
{% block title %}
Login
{% endblock%}
{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

        <a href="{{path + '?operation=new'}}">Create new</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class="table-responsive">
                    {{ table }}
            </div>
        </div>
    <div class="col-sm-2"></div>
</div>
</div>
{% endblock %}