{% extends "bootstrap/base.html" %}

{% block title %}Index Page{% endblock %}

{% block navbar %}
    {{nav.top.render()}}
{% endblock %}
{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        <div class="container">
            <hr>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        {% endwith %}
{% endblock %}
